/* 
    =====================
         Common Css
    =====================
*/

*{margin: 0;padding: 0;}
body{
    font-family: 'Playfair', serif;
    font-size: 16px;
    background-color: #f3f0f0;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*
==================
    Header CSS
==================
*/

.nav-link{
    font-size: 23px !important;
    font-weight: 500;
    line-height: 16px;
    color:black;
    transition: .5s;
    position: relative;

 }
 .nav-link:hover{
    color:#85BF00 ;
 }
 .nav-link::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #85BF00;
  transition: .5s;
 }
 .nav-link:hover::after{
  width: 100%;
 }
 .nav-link.active{
    color: #85BF00 !important;
 }
 .dropdown-item:hover{
    color: #fff;
    background-color:#85BF00;
 }

 .btn:hover{
    background-color:#85BF00;
    color: #fff;
 }
.navbar-brand{
   width: 150px;
}
.navbar-brand img{
   width: 100%;
}
.head_cart{
    margin: 0 10px;
    position: relative;

}
.head_cart a i{
    font-size: 24px;
    color: #85BF00;
}
.head_cart p{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.logo-wrapper{
    height: 30px;
    width: 140px;
}

/*
========================
     Login Css
========================
*/
#login {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    padding: 20px;
    margin-bottom: 50px;
}


/* 
    ===================
        Carousel Css
    ===================
*/

.carousel-item{
    margin-top:20px;
    height: 400px;
    border-radius: 20px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


/* 
    ===================
        Card Css
    ===================
*/

.card-body{
    text-align: center;

}

.card-img-box{
    width: 100%;
    position: relative;

}

.card-img-box img{
    width: 300px;
}
.card-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    transition: .5s;
    
}

.card-icon i{
    width: 40px;
    height: 40px;
    background-color: #85BF00;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
}

.card:hover .card-icon{
    display: block;

}



.p-price{
    font-size: 19px;
    color: #85BF00;
}



/*
==================
    Footer CSS
==================
*/

footer{
    background-color: #85BF00;
    color: #fff;
}


